<main class="fr-container">
    <h1>Création d'un nouvel utilisateur</h1>
    <form id="formCreateUser">
        <div class="form-group">
            <label class="fr-label" for="email">E-Mail : </label>
            <input class="fr-input" #email id="email" placeholder="Email" type="text" />
        </div>
        <div class="form-group">
            <label class="fr-label" for="last">Nom : </label>
            <input class="fr-input" #last id="last" placeholder="Nom" type="text" />
        </div>
        <div class="form-group">
            <label class="fr-label" for="first">Prénom : </label>
            <input class="fr-input" #first id="first" placeholder="Prénom" type="text" />
        </div>
        <div class="form-group">
            <label class="fr-label" for="initial_balance">Solde Initial : </label>
            <input class="fr-input" #initial_balance id="initial_balance" placeholder="Solde Initial" type="number" step="0.01" min="0" />
        </div>
        <div class="form-group">
            <label class="fr-label" for="password">Mot de passe : </label>
            <input class="fr-input" #password id="password" placeholder="Mot de passe" type="password" />
        </div>
    </form>
    <footer>
        <div id="buttons">
            <button class="fr-btn" (click)="register()">
                OK&nbsp;
                <span class="fr-icon-checkbox-fill" aria-hidden="true"></span>
            </button>&nbsp;
            <button class="fr-btn fr-btn--secondary" (click)="cancel()">
                Annuler&nbsp;
                <span class="fr-icon-close-circle-line" aria-hidden="true"></span>
            </button>
        </div>
    </footer>
</main>
